# Strings and its functions ! :D
<img src="https://codingbat.com/doc/string1.png" height=200/>

'hello' is the same as "hello".

## Get the character at position

In [1]:
string = "anik"
print(string[1])

n

## Get character one by one like a list

In [3]:
string = "anik"
for char in string:
  print(char)

a
n
i
k

## Substring

In [5]:
string = "Hello, World!"

print("From index 2 to 5")
print(string[2:5]) # Like range() for loop, start is inclusive, end is exclusive

print("From start to 5 index")
print(string[:5]) # Empty start

print("From 4 to end")
print(string[5:]) # Empty end

From index 2 to 5
llo
From start to 5 index
Hello
From 4 to end
, World!

## Strip
Remove extra unwanted space

In [6]:
string = "   Hello, World!      "
print(string.strip())

Hello, World!

## Length of string

In [7]:
string = "Anik"
print(len(string))

4

## To lower case

In [8]:
string = "Anik"
print(string.lower())

anik

## To Upper Case

In [9]:
string = "Anik"
print(string.upper())

ANIK

## Replace

In [10]:
string = "Anik"
string = string.replace("ik", "na")
print(string)

Anna

## Split

In [15]:
string = "This.IS.Awesome"
print(string.split("."))

['This', 'IS', 'Awesome']

**This can be useful for splitting paragraph to sentence. Sentences can be split by comma :D**

In [18]:
paragraph = "Pranchiyettan and the Saint Malayalam Movie ft Mammootty and Priyamani. Directed and produced by Ranjith and music by Ouseppachan. Pranchiyettan and the Saint also stars Innocent, Siddique, Kushboo, Jagathy Sreekumar, Ganapathy, Sasi Kalinga, Tini Tom and Biju Menon among others."
print(paragraph.split(". "))

['Pranchiyettan and the Saint Malayalam Movie ft Mammootty and Priyamani', 'Directed and produced by Ranjith and music by Ouseppachan', 'Pranchiyettan and the Saint also stars Innocent, Siddique, Kushboo, Jagathy Sreekumar, Ganapathy, Sasi Kalinga, Tini Tom and Biju Menon among others.']

# Useful functions

## Count
get count of substring

In [21]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

## Get substring position

In [24]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

## Check if substring exists

In [29]:
txt = "Hello, welcome to my world."

if "anik" in txt:
  print("Yes in text")
else:
  print("Not in text")
  
  
  
if "welcome" in txt:
  print("Yes in text")
else:
  print("Not in text")
  

# We can also use `not in` instead of `in`
if "anik" not in txt:
  print("Not in text")
else:
  print("Yes in text")

Not in text
Yes in text
Not in text