# Python Collections
There are four collection data types in the Python programming language:


*   **List** is a collection which is **ordered and changeable**. Allows duplicate members
*   **Tuple** is a collection which is **ordered and unchangeable**. Allows duplicate members.
*  **Set** is a collection which is **unordered and unindexed**. No duplicate members.
*  **Dictionary** is a collection which is **unordered, changeable and indexed**. No duplicate members.

# List

### Loop Through a List

In [1]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

### Check if Item Exists

In [2]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

### List Length

In [3]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### Append to list - end

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### Insert to list - at index

In [6]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

### Remove Item - end

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

### Remove Item - at index

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

### Reverse list

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'banana', 'apple']

### Sort

In [17]:
thislist = ["cherry","apple", "banana"]

# Sort by ascending by default
thislist.sort()
print(thislist)

['apple', 'banana', 'cherry']

In [18]:
thislist = ["cherry","apple", "banana"]

# Sort by descending by default
thislist.sort(reverse=True)
print(thislist)

['cherry', 'banana', 'apple']

In [22]:
# A function that returns the length of the value:
def sortFunction(e):
  return len(e)


cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=sortFunction)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

# Tuple

In [23]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [24]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

### Cannot change value of tuple or add or remove items. Tuple is immutable!!

In [25]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant"
# The values will remain the same:
print(thistuple)

TypeError: ignored

# Set

In [26]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [27]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

### Add items

In [31]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

## Dict

In [33]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

print(thisdict["model"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Mustang